section{
   padding: 90px 100px;
}

.hero{
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.hero .right {
  width: 45%;
}

.hero .left {
   width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h1 {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  padding-bottom: 15px;
}

.hero p{
 color: #C7C7C7;
  font-weight: 500;
  font-size: 15px;
  gap: 40px;
  letter-spacing: 0%;
  margin-bottom: 25px;
}

.hero .right img {
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.btnContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.heroBtn {
    display: inline-block;
    padding: 12px 25px;
    font-weight: 103;
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    color: #0A0A0A;

    background:#D3E97A;

    transition: 0.3s ease;
}
